<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leetcode.visualizer.mapper.SolutionTagRelMapper">

    <select id="selectTagIdsBySolutionId" resultType="java.lang.Long">
        SELECT tag_id FROM solution_tag_rel
        WHERE solution_id = #{solutionId}
        AND deleted = 0
    </select>

    <select id="selectSolutionIdsByTagId" resultType="java.lang.Long">
        SELECT solution_id FROM solution_tag_rel
        WHERE tag_id = #{tagId}
        AND deleted = 0
    </select>

    <delete id="deleteBySolutionId">
        DELETE FROM solution_tag_rel
        WHERE solution_id = #{solutionId}
    </delete>

</mapper>
